body {
    width: 100%;
    height: 100%;
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
  }

/* ANCHOR CONTACT TABS */
.contact-tab {
    padding: 20px 10px 9px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.5s;
}
.contact-tab:hover {
    padding: 20px 10px 9px 30px;
    text-decoration: none;
    color: #161b40;
}


/* TYPING ANIMATION */
.typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .30em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(30, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #efa500; }
  }

@media only screen and (max-width: 992px) {
    .typewriter p {
        font-size: 17px;
    }
    .nav-link {
        border: #161b40;
    }
}

.fade-in {
    /* animation: fadein 8s; */
    display: none;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* ANCHOR NAV */
nav {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
nav a {
    color: #efa500;
}
nav a:hover {
    color: #cf8f03;
}
nav .home-link:hover {
    border-bottom: #f40058 solid 1px;
}
nav .portfolio-link:hover {
    border-bottom: #41b853 solid 1px;
}
nav .contact-link:hover {
    border-bottom: #43bee5 solid 1px;
}
/* .navbar-brand {
    font-size: 30px;
    color: #161b40;
}
.navbar-brand:hover {
    font-size: 30px;
    color: #161b40;
} */

.navbar-brand img {
    width: 45px;
}

/* ANCHOR PORTFOLIO */

/* video */
video {
    /* width: 500px; */
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    opacity: 0;
    transition: 1s all;
}
video:hover {
    opacity: 1;
}

.bg-gradient {
    background: linear-gradient(#161b40, #efa500);
}
.project {
    position: relative;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}
.project-label {
    position: absolute;
    top: -40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}


/* ANCHOR CONTACT */
.top-tabs {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: #161b40 solid 1px;
    color: #161b40;
}
.hover-tab-2:hover {
    color: #f40058;
}
.hover-tab-1:hover {
    color: #41b853;
}
.hover-tab-3:hover {
    color: #43bee5;
}

.active-tab {
    background: #161b40;
    color: #efa500;
}
.hover-tab:hover {
    background: #161b40;
    color: #efa500;
    cursor: pointer;
}

label {
    font-size: 25px;
}

.profile img {
    width: 250px;
}

.back-to-top a {
    color: rgb(139, 139, 139);
    text-decoration: none;
}
.back-to-top a:hover {
    color: rgb(112, 112, 112);
}


/* ANCHOR PORTFOLIO THUMBS */
#exampleid {
    
}
.avengers-rpg {
    background: url(../images/avengers-rpg-2.png) center;
    background-size: cover;
}
.train-schedule {
    background: url(../images/train-schedule.jpg) center;
    background-size: cover;
}
.stitch-smith {
    background: url(../images/stitchsmith.jpg) center;
    background-size: cover;
}
.hangman {
    background: url(../images/disney.jpg) center;
    background-size: cover;
}
.giphy {
    background: url(../images/failbanner.jpg);
    background-size: 50px;
}
.trivia {
    background: url(../images/trivia.jpg) center;
    background-size: cover;
}
.liri {
    background: url(../images/liri.png) center;
    background-size: cover;
}
.batbreak {
    background: url(../images/batbreak.png) center;
    background-size: cover;
}
.laserdefender {
    background: url(../images/laserdefender.png) center;
    background-size: cover;
}
.friendfinder {
    background: url(../images/friendfinder.png) center;
    background-size: cover;
}