/* ANCHOR FONTS */
.font-code {
    font-family: 'Source Code Pro', monospace;
}
.font-anton {
    font-family: 'Anton', sans-serif;
}
.font-fjalla {
    font-family: 'Fjalla One', sans-serif;
}
.font-yanone {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}


/* ANCHOR COLORS */

/* COLOR SCHEME
        #161b40
        #43bee5
        #f40058
        #efa500
        #41b853
*/


/* PRIMARY: 161b40 */
.bg-myPrimary {
    background: #161b40;
}
.text-myPrimary {
    color: #161b40;
}
.border-myPrimary {
    border: #161b40 1px solid;
}
.border-myPrimary-top {
    border-top: #161b40 1px solid;
}
.border-myPrimary-bottom {
    border-bottom: #161b40 1px solid;
}
.border-myPrimary-right {
    border-right: #161b40 3px solid;
}
.border-myPrimary-left {
    border-left: #161b40 3px solid;
}
.btn-myPrimary {
    color: white;
    background: #161b40;
}
.btn-myPrimary:hover {
    color: white;
    background: #161b40;
}
.btn-outline-myPrimary {
    color: #161b40;
    border: #161b40 1px solid;
}
.btn-outline-myPrimary:hover {
    color: white;
    background: #161b40;
    border: #161b40 1px solid;
}

/* SECONDARY: efa500 */
.bg-mySecondary {
    background: #efa500;
}
.text-mySecondary {
    color: #efa500;
}
.border-mySecondary {
    border: #efa500 1px solid;
}
.border-mySecondary-top {
    border-top: #efa500 1px solid;
}
.border-mySecondary-bottom {
    border-bottom: #efa500 1px solid;
}
.border-mySecondary-right {
    border-right: #efa500 1px solid;
}
.border-mySecondary-left {
    border-left: #efa500 3px solid;
}
.btn-mySecondary {
    color: white;
    background: #efa500;
}
.btn-mySecondary:hover {
    color: white;
    background: #efa500;
}
.btn-outline-mySecondary {
    color: #efa500;
    border: #efa500 1px solid;
}
.btn-outline-mySecondary:hover {
    color: white;
    background: #efa500;
    border: #efa500 1px solid;
}


/* PINK: f40058 */
.bg-myThird {
    background: #f40058;
}
.text-myThird {
    color: #f40058;
}
.border-myThird {
    border: #f40058 1px solid;
}
.border-myThird-top {
    border-top: #f40058 1px solid;
}
.border-myThird-bottom {
    border-bottom: #f40058 1px solid;
}
.border-myThird-right {
    border-right: #f40058 3px solid;
}
.border-myThird-left {
    border-left: #f40058 3px solid;
}
.btn-myThird {
    color: white;
    background: #f40058;
}
.btn-myThird:hover {
    color: white;
    background: #f40058;
}
.btn-outline-myThird {
    color: #f40058;
    border: #f40058 1px solid;
}
.btn-outline-myThird:hover {
    color: white;
    background: #f40058;
    border: #f40058 1px solid;
}


/* GREEN: 41b853 */
.bg-myFourth {
    background: #41b853;
}
.text-myFourth {
    color: #41b853;
}
.border-myFourth {
    border: #41b853 1px solid;
}
.border-myFourth-top {
    border-top: #41b853 1px solid;
}
.border-myFourth-bottom {
    border-bottom: #41b853 1px solid;
}
.border-myFourth-right {
    border-right: #41b853 3px solid;
}
.border-myFourth-left {
    border-left: #41b853 3px solid;
}
.btn-myFourth {
    color: white;
    background: #41b853;
}
.btn-myFourth:hover {
    color: white;
    background: #41b853;
}
.btn-outline-myFourth {
    color: #41b853;
    border: #41b853 1px solid;
}
.btn-outline-myFourth:hover {
    color: white;
    background: #41b853;
    border: #41b853 1px solid;
}


/* BLUE: 43bee5 */
.bg-myFifth {
    background: #43bee5;
}
.text-myFifth {
    color: #43bee5;
}
.border-myFifth {
    border: #43bee5 1px solid;
}
.border-myFifth-top {
    border-top: #43bee5 1px solid;
}
.border-myFifth-bottom {
    border-bottom: #43bee5 1px solid;
}
.border-myFifth-right {
    border-right: #43bee5 3px solid;
}
.border-myFifth-left {
    border-left: #43bee5 3px solid;
}
.btn-myFifth {
    color: white;
    background: #43bee5;
}
.btn-myFifth:hover {
    color: white;
    background: #43bee5;
}
.btn-outline-myFifth {
    color: #43bee5;
    border: #43bee5 1px solid;
}
.btn-outline-myFifth:hover {
    color: white;
    background: #43bee5;
    border: #43bee5 1px solid;
}

