@import "../../sass/variables";

.contact {
    position: relative;
    min-height: 100vh;
    padding: $space-05;
    overflow: hidden;
    background-color: $bg;

    .content {
        height: 100%;
        padding-top: $space-15;
    }

    .send-btn {
        position: relative;
        color: $bg;
        path,
        &-name {
            color: $bg;
        }

        .send-txt {
            color: $bg !important;
        }
    }
}
