@import "../../sass/variables";

.project {

    &-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dddddd;
        color: #6a6a6a;
        font-weight: bold;
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
        position: relative;

        .red-dot,
        .yellow-dot,
        .green-dot {
            height: 1em;
            width: 1em;
            border-radius: 100%;
            position: absolute;
        }

        .yellow-dot {
            background-color: #ffbd2d;
            left: 2.5em;
        }
        .red-dot {
            background-color: #ff5f57;
            left: 1em;
        }
        .green-dot {
            background-color: #27ca40;
            left: 4em;
        }
    }

    &-content {
        background-color: white;
        height: 12em;
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
    }
}
