$animation-transition: 0.7s;

.tracking-in-expand {
	-webkit-animation: tracking-in-expand $animation-transition cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand $animation-transition cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.flip-in-diag-2-br {
	-webkit-animation: flip-in-diag-2-br $animation-transition cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-diag-2-br $animation-transition cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes flip-in-diag-2-br {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, -80deg);
            transform: rotate3d(-1, 1, 0, -80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}
@keyframes flip-in-diag-2-br {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, -80deg);
            transform: rotate3d(-1, 1, 0, -80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}



.swing-top-fwd {
	-webkit-animation: swing-top-fwd $animation-transition cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: swing-top-fwd $animation-transition cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes swing-top-fwd {
  0% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    -webkit-transform-origin: top;
            transform-origin: top;
            opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: top;
            transform-origin: top;
            opacity: 1;
  }
}
@keyframes swing-top-fwd {
  0% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    -webkit-transform-origin: top;
            transform-origin: top;
            opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: top;
            transform-origin: top;
            opacity: 1;
  }
}

