@import "variables";

* {
  font-family: $font-primary;
  color: $text-color;
}

h1, h2 {
  font-weight: 800 !important;
  line-height: 70% !important;
}

h1 {
  font-size: 5em !important;
}
h2 {
  font-size: 4em !important;
}



