@import "variables";

* {
  font-family: $font-secondary;
  color: $text-color;
  line-height: normal;
}

h1, h2 {
  font-weight: 800 !important;
  line-height: 70% !important;
}

h1 {
  font-size: 4.5em !important;
  
  @media screen and (max-width: $laptop) {
    font-size: 3em !important;
  }
}
h2 {
  font-size: 3.5em !important;
  
  @media screen and (max-width: $laptop) {
    font-size: 2em !important;
  }
}



