@import "variables";

.form-control {
    border-radius: $radius !important;
}

.btn {
    background: white !important;
    color: $green !important;

    &:hover {
        background: darken(white, 10%) !important;
    }
}