@import "../../sass/variables";

.menu {
    position: fixed;
    left: -10px;
    padding-left: 10px;
    z-index: 5;

    &-links {
        position: absolute;
        top: 37vh;
    }

    &-link {
        background-color: $yellow;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 $space-03;
        height: 4em;
        width: 9em;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        cursor: pointer;
        transition: $transition;
        position: absolute;
        left: -$space-13;
        // border-right: 2px solid $bg;
        // border-top: 2px solid $bg;
        // border-bottom: 2px solid $bg;
        
        path,
        &-name {
            color: $bg;
        }
        &-name {
            margin-right: $space-01;
            opacity: 0;
            font-size: $text-02;
            padding-top: .2rem;
            font-family: $font-primary !important;
        }

        &:hover {
            transition: $transition;
            background-color: darken($yellow, 5%);
            left: 0;
            .menu-link-name {
                transition: $transition;
                opacity: 1;
            }
        }
    }

    // // LINKEDIN LV2
    // &-level-2,
    // &-level-3,
    // &-level-4,
    // &-level-5,
    // &-level-6 {
    //     .menu-link:nth-child(6) {
    //         background-color: $bg;
    //         path,
    //         .menu-link-name {
    //             color: $yellow-2;
    //         }
    //     }
    // }
    // // GITHUB LV2
    // &-level-3,
    // &-level-4,
    // &-level-5,
    // &-level-6,
    // &-level-7 {
    //     .menu-link:nth-child(5) {
    //         background-color: $bg;
    //         path,
    //         .menu-link-name {
    //             color: $yellow-2;
    //         }
    //     }
    // }
    // // CONTACT LV2
    // &-level-4,
    // &-level-5,
    // &-level-6,
    // &-level-7,
    // &-level-8 {
    //     .menu-link:nth-child(4) {
    //         background-color: $bg;
    //         path,
    //         .menu-link-name {
    //             color: $yellow-2;
    //         }
    //     }
    // }
    // // PROJECTS LV2
    // &-level-5,
    // &-level-6,
    // &-level-7,
    // &-level-8,
    // &-level-9 {
    //     .menu-link:nth-child(3) {
    //         background-color: $bg;
    //         path,
    //         .menu-link-name {
    //             color: $yellow-2;
    //         }
    //     }
    // }
    // // ABOUT LV2
    // &-level-6,
    // &-level-7,
    // &-level-8,
    // &-level-9,
    // &-level-10 {
    //     .menu-link:nth-child(2) {
    //         background-color: $bg;
    //         path,
    //         .menu-link-name {
    //             color: $yellow-2;
    //         }
    //     }
    // }
    
    // // LINKEDIN LV3
    // &-level-7,
    // &-level-8,
    // &-level-9,
    // &-level-10,
    // &-level-11 {
    //     .menu-link:nth-child(6) {
    //         background-color: $yellow-2;
    //         path,
    //         .menu-link-name {
    //             color: $yellow;
    //         }
    //     }
    // }
    // // GITHUB LV3
    // &-level-8,
    // &-level-9,
    // &-level-10,
    // &-level-11 {
    //     .menu-link:nth-child(5) {
    //         background-color: $yellow-2;
    //         path,
    //         .menu-link-name {
    //             color: $yellow;
    //         }
    //     }
    // }
    // // CONTACT LV3
    // &-level-9,
    // &-level-10,
    // &-level-11 {
    //     .menu-link:nth-child(4) {
    //         background-color: $yellow-2;
    //         path,
    //         .menu-link-name {
    //             color: $yellow;
    //         }
    //     }
    // }
    // // PROJECTS LV3
    // &-level-10,
    // &-level-11 {
    //     .menu-link:nth-child(3) {
    //         background-color: $yellow-2;
    //         path,
    //         .menu-link-name {
    //             color: $yellow;
    //         }
    //     }
    // }
    // // ABOUT LV3
    // &-level-11 {
    //     .menu-link:nth-child(2) {
    //         background-color: $yellow-2;
    //         path,
    //         .menu-link-name {
    //             color: $yellow;
    //         }
    //     }
    // }
}

.menu-link:nth-child(1) {
    top: -$space-01;
}
.menu-link:nth-child(2) {
    top: $space-15;
}
.menu-link:nth-child(3) {
    top: ($space-15 * 2) + $space-01;
}
.menu-link:nth-child(4) {
    top: ($space-15 * 3) + ($space-01 * 2);
}
.menu-link:nth-child(5) {
    top: ($space-15 * 4) + ($space-01 * 3);
}
.menu-link:nth-child(6) {
    top: ($space-15 * 5) + ($space-01 * 4);
}

.profile-circle {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
