@import "../../sass/variables";

.menu {
    position: fixed;
    left: -10px;
    // top: $space-05;
    padding-left: 10px;
    z-index: 5;

    &-links {
        position: absolute;
        top: 320px;
    }

    .logo {
        width: 5em;
        // border-bottom: 1px solid $primary;
        padding: 0 $space-01 $space-03 $space-02;
    }

    .profilePic {
        width: 60em;
        // border-bottom: 1px solid $primary;
        // padding: 0 $space-01 $space-03 $space-02;
        position: absolute;
        top: -95px;
        left: -330px;
    }

    &-link {
        background-color: $primary;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 $space-03;
        height: 4em;
        width: 9em;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
        margin-top: $space-02;
        cursor: pointer;
        transition: $transition;
        position: absolute;
        left: -$space-13;
        
        path,
        &-name {
            color: $primary-00;
        }
        &-name {
            margin-right: $space-01;
            opacity: 0;
            font-size: $text-00;
        }

        &:hover {
            transition: $transition;
            background-color: darken($primary, 5%);
            left: 0;
            .menu-link-name {
                transition: $transition;
                opacity: 1;
            }
        }
    }

    // LINKEDIN LV2
    &-level-2,
    &-level-3,
    &-level-4,
    &-level-5,
    &-level-6 {
        .menu-link:nth-child(6) {
            background-color: $primary-00;
            path,
            .menu-link-name {
                color: $primary-10;
            }
        }
    }
    // GITHUB LV2
    &-level-3,
    &-level-4,
    &-level-5,
    &-level-6,
    &-level-7 {
        .menu-link:nth-child(5) {
            background-color: $primary-00;
            path,
            .menu-link-name {
                color: $primary-10;
            }
        }
    }
    // CONTACT LV2
    &-level-4,
    &-level-5,
    &-level-6,
    &-level-7,
    &-level-8 {
        .menu-link:nth-child(4) {
            background-color: $primary-00;
            path,
            .menu-link-name {
                color: $primary-10;
            }
        }
    }
    // PROJECTS LV2
    &-level-5,
    &-level-6,
    &-level-7,
    &-level-8,
    &-level-9 {
        .menu-link:nth-child(3) {
            background-color: $primary-00;
            path,
            .menu-link-name {
                color: $primary-10;
            }
        }
    }
    // ABOUT LV2
    &-level-6,
    &-level-7,
    &-level-8,
    &-level-9,
    &-level-10 {
        .menu-link:nth-child(2) {
            background-color: $primary-00;
            path,
            .menu-link-name {
                color: $primary-10;
            }
        }
    }
    
    // LINKEDIN LV3
    &-level-7,
    &-level-8,
    &-level-9,
    &-level-10,
    &-level-11 {
        .menu-link:nth-child(6) {
            background-color: $primary-10;
            path,
            .menu-link-name {
                color: $primary;
            }
        }
    }
    // GITHUB LV3
    &-level-8,
    &-level-9,
    &-level-10,
    &-level-11 {
        .menu-link:nth-child(5) {
            background-color: $primary-10;
            path,
            .menu-link-name {
                color: $primary;
            }
        }
    }
    // CONTACT LV3
    &-level-9,
    &-level-10,
    &-level-11 {
        .menu-link:nth-child(4) {
            background-color: $primary-10;
            path,
            .menu-link-name {
                color: $primary;
            }
        }
    }
    // PROJECTS LV3
    &-level-10,
    &-level-11 {
        .menu-link:nth-child(3) {
            background-color: $primary-10;
            path,
            .menu-link-name {
                color: $primary;
            }
        }
    }
    // ABOUT LV3
    &-level-11 {
        .menu-link:nth-child(2) {
            background-color: $primary-10;
            path,
            .menu-link-name {
                color: $primary;
            }
        }
    }
}

.menu-link:nth-child(2) {
    top: $space-15;
}
.menu-link:nth-child(3) {
    top: ($space-15 * 2) + $space-01;
}
.menu-link:nth-child(4) {
    top: ($space-15 * 3) + ($space-01 * 2);
}
.menu-link:nth-child(5) {
    top: ($space-15 * 4) + ($space-01 * 3);
}
.menu-link:nth-child(6) {
    top: ($space-15 * 5) + ($space-01 * 4);
}
