@import "../../sass/variables";

.main {
    position: relative;
    min-height: 100vh;
    padding: $space-05;
    overflow: hidden;

    .profile-image {
        width: 42vw;
        position: absolute;
        bottom: 0;
        right: -5em;
        pointer-events: none;
    }

    .content {
        padding-left: 1vw;
        margin-top: 10vh;
        font-size: $text-02;

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: $space-02;
            height: 4em;
            width: 4em;
        }

        &-image {
            width: 3em;
        }
    }
}
