@import "../../sass/variables";

.main {
    position: relative;
    min-height: 100vh;
    padding: $space-05;
    overflow: hidden;


    // ACHIEVEMENTS ---
    .achievements {
        position: absolute;
        top: -3em;
        right: 0;
        height: 100%;
        width: 10em;
        flex-direction: column;
        justify-content: space-between;
        padding: 5em 0;

        .achievement-row {
            position: relative;
            height: 7em;
        }

        .achievement-instructions {
            border-bottom: 3px solid $yellow;
            color: $yellow;
            font-weight: bold;
            text-align: center;
            padding-bottom: $space-01;
            margin-bottom: $space-09;
        }
    }
    // ----------------

    &-header {
        position: absolute;
        width: 40vw;
        top: -10em;
        right: 0;
        bottom: 0;
        // left: -28em;
        left: -31vw;
        margin: auto;
        z-index: 3;
    }

    .small-header {
        width: 100%;
    }


    // ABOUT SECTION ----
    .about-section {
        position: absolute;
        width: 42vw;
        // height: 22.5em;
        // min-height: 5em;
        height: min-content;
        display: flex;
        justify-content: center;

        top: 0;
        right: -31vw;
        bottom: -10em;
        left: 0;
        margin: auto;
        z-index: 2;
        
        background-color: rgba(darken($bg, 5), .9);
        border-radius: $radius;

        padding-left: 2em;
        padding-right: 2em;
        padding-top: 3em;
        padding-bottom: 3em;

        @media screen and (max-width: $laptop) {
            width: 90%;
            position: relative;
        }

        .about-section-content {
            width: 65%;
            @media screen and (max-width: $laptop) {
                width: 100%;
            }
        }

        .about-header {
            @media screen and (max-width: $desktop) {
                font-size: 3em;
            }
        }

        .about-profile-circle {
            width: 15em;
            position: absolute;
            top: -2em;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;

            @media screen and (max-width: $tablet) {
                right: -6em;
                margin-right: 0;
            }

        }

        .bio {
            // border: 1px solid red; // or testing
            overflow: auto;
            overflow-x: hidden;
            border-top: 2px solid $bg;
            margin-top: .2em;
            padding-top: .2em;
            height: 10em;
        }

        .size-adjuster {
            position: absolute;
            margin-right: auto;
            margin-left: auto;
            left: 0;
            right: 0;
            bottom: .2;
        }
    }
    // ---------------------
}
