@import "../../sass/variables";

.projects {
    position: relative;
    min-height: 110vh;
    // padding: $space-05;
    overflow: hidden;
    text-align: center;
    // padding-bottom: $space-08;

    .content {
        height: 100%;
        padding-top: $space-08;
    }

    .shapes-bg,
    .shapes-bg-layer-2,
    .shapes-bg-layer-3 {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
        filter: blur(4px);
    }

    .shapes-bg {
        opacity: .4;
    }

    .shapes-bg-layer-2 {
        transform: scaleX(-1);
        opacity: .02;
    }

    .shapes-bg-layer-3 {
        transform: scaleY(-1);
        opacity: .08;
    }
    
    .front-section {
        position: relative;
        z-index: 3;
    }

    .project-container {
        position: relative;
        margin-bottom: 22em;
    }
}
