@import "../../sass/variables";

.projects {
    position: relative;
    min-height: 110vh;
    overflow: hidden;
    text-align: center;

    &-header {
        position: relative;
        z-index: 2;
        transition: 1s;
    }

    .color-splash {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $yellow;

        /* Start hidden on left (small circle near left edge) */
        clip-path: circle(0% at left center);
        transition: clip-path 1s ease-out;
    }

    .content {
        height: 100%;
        padding-top: $space-08;
    }

    .shapes-bg,
    .shapes-bg-layer-2,
    .shapes-bg-layer-3 {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
        filter: blur(4px);
    }

    .shapes-bg {
        opacity: .4;
    }

    .shapes-bg-layer-2 {
        transform: scaleX(-1);
        opacity: .02;
    }

    .shapes-bg-layer-3 {
        transform: scaleY(-1);
        opacity: .08;
    }
    
    .front-section {
        position: relative;
        z-index: 3;
    }

    .project-container {
        position: relative;
        margin-bottom: 22em;
    }
}
