@import "../../sass/variables";

.header {
    font-family: $font-primary;
    line-height: 1em;
    text-transform: uppercase;
    font-weight: bolder;
    // width: fit-content;
    word-wrap: none;

    &-white {
        color: $light;
    }

    &-yellow {
        color: $yellow;
        // text-shadow: -2px -2px 0 $bg, 2px -2px 0 $bg, -2px 2px 0 $bg, 2px 2px 0 $bg;
        position: relative;
        z-index: 2;
    }

    &-bg {
        color: $bg;
    }

    &-lg {
        font-size: $text-06;
        @media screen and (max-width: $phablet) {
            font-size: $text-05 !important;
        }
    }
    &-md {
        font-size: $text-05;
        @media screen and (max-width: $phablet) {
            font-size: $text-04 !important;
        }
    }
    &-sm {
        font-size: $text-04;
        @media screen and (max-width: $phablet) {
            font-size: $text-03 !important;
        }
    }

    &-border {
        color: $bg;
        background-color: $yellow;
        padding: .6rem 0;
    }
}
